footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    left: 0;
    transition: left 0.3s, width 0.3s;
}