ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin: 0 5px;
}

li a {
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #007bff;
}

li.active a {
    background-color: #007bff;
    color: white;
}