span {
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-size: 12px;
}

.primary {
    background-color: #007bff;
}

.secondary {
    background-color: #6c757d;
}

.success {
    background-color: #28a745;
}

.danger {
    background-color: #dc3545;
}

.warning {
    background-color: #ffc107;
    color: #212529;
}

.info {
    background-color: #17a2b8;
}